langchain
langgraph
python-dotenv
langchain-community
langchain-core
langchain-openai
langchain-groq
langchain-google-genai
ipykernel
pydantic
arxiv>=1.4,<4.0
wikipedia
langgraph-cli[inmem]
faiss-cpu
pypdf
langchain-exa
apify-client
markdown
xhtml2pdf
reportlab